<article>
  <div class='summary'>
    <h2>FROM DEV BOOTCAMP TO POP PAYS</h2>
    <p>Here is the summary paragraph that will give an intro to each article that is written.  I imagine it to be around three to four sentences.</p>
  </div>

  <div class='images'>
    <img src="https://pbs.twimg.com/profile_images/468858983252369408/9E3vT5Od.jpeg">
  </div>
</article>

<article>
  <div class='summary'>
    <h2>FROM DEV BOOTCAMP TO POP PAYS</h2>
    <p>Here is the summary paragraph that will give an intro to each article that is written.  I imagine it to be around three to four sentences. This is an extra sentence to see how it affects other elements on the page.</p>
  </div>

  <div class='images'>
    <img src="https://pbs.twimg.com/profile_images/468858983252369408/9E3vT5Od.jpeg">
  </div>
</article>

<article>
  <div class='summary'>
    <h2>FROM DEV BOOTCAMP TO POP PAYS</h2>
    <p>Here is the summary paragraph that will give an intro to each article that is written.  I imagine it to be around three to four sentences. This is an extra sentence to see how it affects other elements on the page.</p>
  </div>

  <div class='images'>
    <img src="https://pbs.twimg.com/profile_images/468858983252369408/9E3vT5Od.jpeg">
  </div>
</article>